/* =============================================
=            GLOBAL SETTINGS RESET            =
============================================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

@font-face {
  font-family: 'cocogooseregular';
  src:
    url('/styles/cocogoose_trial-webfont.woff2') format('woff2'),
    url('/styles/cocogoose_trial-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.c-black {
  color: #272a31;
}

.c-orange {
  color: #ec5242;
}

.c-gray {
  color: #d3d3d3;
}

.c-white {
  color: white;
}

.bg-black {
  background-color: #272a31;
}

.bg-orange {
  background-color: #ec5242;
}

.bg-gray {
  background-color: #d3d3d3;
}

.bg-gray-medium {
  background-color: #3e3e3e;
}

.font-f-1 {
  font-family: 'cocogooseregular', Arial, Helvetica, sans-serif;
}

.font-f-2 {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.border-orange {
  border: 2px solid #ec5342;
  width: 4rem;
}

.smaller-none {
  display: none;
}

.logo-footer {
  object-fit: contain;
}

/* =====  End of GLOBAL SETTINGS RESET  ====== */
