
/* =============================================
=            HEADER SECTION            =
============================================= */

.event-logo {
  max-width: 50px;
}

.navbar-2-list {
  list-style-type: none;
}

.navbar-1,
.navbar-2 {
  display: none;
  visibility: hidden;
}

.nav-item-1 {
  white-space: nowrap;
}

.bars-icon {
  font-size: 3rem;
}

.navbar-1 {
  display: flex;
  justify-content: flex-end;
}

/* =====  End of HEADER SECTION  ====== */

/* =============================================
=            TITLE SECTION            =
============================================= */

.title-h1 {
  font-size: 1.6rem;
}

.title-span {
  font-size: 2.7rem;
  font-weight: 1000;
  line-height: 2.5rem;
}

.description-section {
  background-color: #f7f7f7;
  border: 5px solid #d3d3d3;
}

.date-title {
  font-size: 1.6rem;
  font-weight: 900;
}

/* =====  End of TITLE SECTION  ====== */

/* =============================================
=            MAIN PROGRAM SECTION            =
============================================= */

.bg-medium-opacity {
  background-color: rgb(145, 145, 145, 0.2);
}

.titles-program {
  font-weight: 700;
}

.border-radius {
  border-radius: 5px;
}

/* =====  End of MAIN PROGRAM SECTION  ====== */

/* =============================================
=            TICKETS SECTION            =
============================================= */

.first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.each-col-width-1 {
  width: 20%;
}

.each-col-width-2 {
  width: 30%;
}

.each-col-width {
  width: 15%;
}

.title-tickets {
  display: flex;
  justify-content: center;
}

.double-width {
  width: 30%;
}

.desktop-form {
  width: 90%;
}

/* =====  End of TICKETS SECTION  ====== */

/* =============================================
=            PARTNER SECTION            =
============================================= */

.partner-img {
  max-width: 140px;
}

/* =====  End of PARTNER SECTION  ====== */

/* =============================================
=            FOOTER            =
============================================= */

.logo-footer {
  width: 100px;
  height: 81px;
}

/* =====  End of FOOTER  ====== */

/* =============================================
=            MEDIA QUERIES            =
============================================= */

@media (min-width: 768px) {
  .navbar-1,
  .navbar-2,
  .smaller-none {
    display: inherit;
    visibility: initial;
  }

  .medium-show {
    display: initial !important;
    visibility: initial !important;
  }

  .medium-hide {
    display: none;
  }

  .desktop-form {
    width: 70%;
  }
}

@media (min-width: 1044px) {
  html {
    max-width: 1064px;
    margin: 0 auto;
  }

  .navbar-1,
  .navbar-2,
  .smaller-none {
    display: inherit;
    visibility: inherit;
  }

  .title-span {
    font-size: 5rem;
    line-height: 5rem;
    max-width: 80%;
  }
}

/* =====  End of MEDIA QUERIES  ====== */
